.product {
    .container {
        max-width: 960px;
    }
    .commonHeading {
        text-align: center;
        margin-bottom: 0;
        h2 {
            font-size: 50px;
        }
        p {
            font-weight: 500;
            line-height: 150%;
            color: #808080;
            letter-spacing: 0.03em;
            font-size: 20px;
            .a::before {
                background-color: #808080;
            }
        }
    }
    &Content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-top: 100px;
    }
    h2 {
        font-size: 4rem;
        line-height: 1.4em;
        font-weight: 700;
        margin-bottom: 20px;
        & + p {
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 1.6;
            margin-bottom: 0;
        }
    }
    ul {
        padding-left: 30px;
        margin-bottom: 20px;
    }
    li {
        list-style-type: disc;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 180%;
        color: #000000;
        margin-bottom: 10px;
        &::marker {
            font-size: 30px;
        }
    }
    a.commonBtn {
        text-align: center;
        & + p {
            font-weight: 400;
            font-size: 1.4rem;
            color: #1f1f1f;
        }    
    }
    &Text {
        flex-basis: 50%;
        flex-shrink: 0;        
    }
    &Image {
        flex-basis: 50%;
    }    
    .imageWrapper {
        margin-left: auto;
        max-width: 534px;
        height: 300px;
        img {
            object-fit: contain;
            // width: 100%;
            margin: auto;
            height: 100%;
        }
    }
    &Button {
        padding-top: 100px;
        text-align: center;
        a {
            display: flex;
            width: 100%;
            max-width: 350px;
            margin: auto;
            font-size: 24px;
            align-items: center;
            justify-content: center;      
            border: 2px solid #f9ab00;      
        }
        img {
            margin-right: 10px;
            max-width: 24px;
            vertical-align: middle;
        }
    }
    @media (max-width: 991px) {
        .imageWrapper {
            height: auto;
        }
        a.commonBtn {
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        &Content {            
            margin-top: 70px;
            &:nth-child(even) {
                flex-direction: column-reverse;
            }                
            &:nth-child(odd) {
                flex-direction: column;
            }                
        }
        h2 {
            font-size: 2.4rem;
            line-height: 1.3em;
        }
        a.commonBtn {
            width: 100%;
            display: block;
        }        
    }
    @media (max-width: 575px) {
        &Content {            
            align-items: initial;
        }
        &Button {
            a {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.commonBtn {
    border: none;
    padding: 14px 30px;
    background-color: #000000;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
    color: #ffffff;
    border-radius: 50px;
}