.zf_lB_Dimmer_318726{ 
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: 10000000;
}

.zf_lB_Container_318726{
	position: fixed;
	background-color: white;
	margin: 0;
	margin-right: 0px;
	padding: 0;
	height: 1031px;
	width:  70%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 7px solid none;
	max-height: calc(100% - 60px);
	z-index: 999999;
}

p{
margin-bottom: 10px;
}

.zf_lB_Wrapper_318726{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 0;
    margin-top: -180px;
    z-index: 10000001;
}

.zf_main_id_318726{
	height: calc(100% - 0px);
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
}

.zf_lb_closeform_318726 {
    position: absolute;
    right: -20px;
    background: #2f2e2e;
    padding: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    top: -15px;
    cursor: pointer;
    border: 2px solid #d9d9d9;
}
.zf_lb_closeform_318726:before, .zf_lb_closeform_318726:after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 19px;
    width: 2px;
    top: 7px;
    background-color: #f7f7f7;
}

.zf_lb_closeform_318726:before {
  transform: rotate(45deg);
}
.zf_lb_closeform_318726:after {
  transform: rotate(-45deg);
} 



@media only screen  and (min-width:700px) and (max-width:800px)  { 

.zf_lB_Container_318726 {
	width: 650px;
 }
}
 @media only screen  and (min-width:550px) and (max-width:698px)  {  
 	.zf_lB_Container_318726 {
	width: 500px;
 }
 
}
@media only screen  and (min-width:350px) and (max-width:549px)  {  
 	.zf_lB_Container_318726 {
	width: 350px;
 }
 
}

/* clove  */

.zf_lB_Dimmer_630795{ 
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: 10000000;
}

.zf_lB_Container_630795{
	position: fixed;
	background-color: white;
	margin: 0;
	margin-right: 0px;
	padding: 0;
	height: 1058px;
	width:  70%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 7px solid none;
	max-height: calc(100% - 60px);
	z-index: 999999;
}

p{
margin-bottom: 10px;
}

.zf_lB_Wrapper_630795{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 0;
    margin-top: -180px;
    z-index: 10000001;
}

.zf_main_id_630795{
	height: calc(100% - 0px);
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
}

.zf_lb_closeform_630795 {
    position: absolute;
    right: -20px;
    background: #2f2e2e;
    padding: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    top: -15px;
    cursor: pointer;
    border: 2px solid #d9d9d9;
}
.zf_lb_closeform_630795:before, .zf_lb_closeform_630795:after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 19px;
    width: 2px;
    top: 7px;
    background-color: #f7f7f7;
}

.zf_lb_closeform_630795:before {
  transform: rotate(45deg);
}
.zf_lb_closeform_630795:after {
  transform: rotate(-45deg);
} 

.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
display: block !important;
}
@-webkit-keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
} 


@media only screen  and (min-width:700px) and (max-width:800px)  { 

.zf_lB_Container_630795 {
	width: 650px;
 }
}
 @media only screen  and (min-width:550px) and (max-width:698px)  {  
 	.zf_lB_Container_630795 {
	width: 500px;
 }
 
}
@media only screen  and (min-width:350px) and (max-width:549px)  {  
 	.zf_lB_Container_630795 {
	width: 350px;
 }
 
}

/* cinammon  */

.zf_lB_Dimmer_159309{ 
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: 10000000;
}

.zf_lB_Container_159309{
	position: fixed;
	background-color: white;
	margin: 0;
	margin-right: 0px;
	padding: 0;
	height: 1085px;
	width:  70%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 7px solid none;
	max-height: calc(100% - 60px);
	z-index: 999999;
}

p{
margin-bottom: 10px;
}

.zf_lB_Wrapper_159309{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 0;
    margin-top: -180px;
    z-index: 10000001;
}

.zf_main_id_159309{
	height: calc(100% - 0px);
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
}

.zf_lb_closeform_159309 {
    position: absolute;
    right: -20px;
    background: #2f2e2e;
    padding: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    top: -15px;
    cursor: pointer;
    border: 2px solid #d9d9d9;
}
.zf_lb_closeform_159309:before, .zf_lb_closeform_159309:after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 19px;
    width: 2px;
    top: 7px;
    background-color: #f7f7f7;
}

.zf_lb_closeform_159309:before {
  transform: rotate(45deg);
}
.zf_lb_closeform_159309:after {
  transform: rotate(-45deg);
} 

.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
display: block !important;
}
@-webkit-keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
} 


@media only screen  and (min-width:700px) and (max-width:800px)  { 

.zf_lB_Container_159309 {
	width: 650px;
 }
}
 @media only screen  and (min-width:550px) and (max-width:698px)  {  
 	.zf_lB_Container_159309 {
	width: 500px;
 }
 
}
@media only screen  and (min-width:350px) and (max-width:549px)  {  
 	.zf_lB_Container_159309 {
	width: 350px;
 }
 
}









